.htaccess
robots.txt
crossdomain.xml
/sitemap.xml
/sitemap.xml.gz
/wp-*.php
/xmlrpc.php
wp-admin/
wp-includes/
wp-content/db-config.ini
wp-content/languages/
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/cache/*
wp-content/cache/supercache/*
/readme.html
/readme-ja.html
/license.txt
/*.html
/*.js
/*.css
/*.php
/*.png
/*.jpg
/*.ico
.svn/
*.bak
*.log
*.tmp
static/
